<a href="https://colab.research.google.com/github/kurt980/LC_Notes/blob/main/LC_SQL_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **2023-01-30**

**1393. Capital Gain/Loss**
1. Use sum() with case when(), no need to add 'as' after case when
~~~~ SQL
SELECT
    stock_name, SUM(CASE 
        WHEN operation = 'Buy' THEN (-1) * Price
        ELSE Price
    END) AS capital_gain_loss 
FROM Stocks
GROUP BY stock_name
~~~~

**511. Game Play Analysis I**
1. No need to do this for this problem, but classic self-join
~~~~SQL
SELECT a1.player_id, a1.event_date AS first_login
FROM Activity a1
INNER JOIN Activity a2
ON (a1.event_date >= a2.event_date AND a1.player_id = a2.player_id)
GROUP BY a1.player_id, a1.event_date
HAVING COUNT(a2.event_date) = 1
~~~~